<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <%- include('../components/header'); %>

    <div class="login-form">
        <div class="login-header">
            <h2>Login</h2>
        </div>
        <form>
            <div class="login-fields flex">
                <input class="input" type="email" name="username" id="email" required placeholder="enter your email.." autocomplete="off">
                <input class="input" type="password" name="password" id="password" required placeholder="enter your password.." autocomplete="off">
            </div>
            <div class="login-button">
                <button type="submit" class="btn-login">Login</button>
            </div>
        </form>
        <div class="register">
            Click here to register
        </div>
    </div>

    <%- include('../components/footer'); %>
</body>

</html>